# 1 Import Data

In [1]:
import pandas as pd
import os
from sklearn.preprocessing import StandardScaler

In [2]:
# Set the path to the main project folder
path = r'C:\Users\luis\Desktop\Carrer Foundry boot camp\Machine Learning Specialization\Data Sets'

In [3]:
# Import the orders data
df = pd.read_csv(os.path.join(path, 'Weather.csv'))

In [4]:
df.head()

,DATE,MONTH,BASEL_cloud_cover,BASEL_wind_speed,BASEL_humidity,BASEL_pressure,BASEL_global_radiation,BASEL_precipitation,BASEL_snow_depth,BASEL_sunshine,...,VALENTIA_cloud_cover,VALENTIA_humidity,VALENTIA_pressure,VALENTIA_global_radiation,VALENTIA_precipitation,VALENTIA_snow_depth,VALENTIA_sunshine,VALENTIA_temp_mean,VALENTIA_temp_min,VALENTIA_temp_max
0,19600101,1,7,2.1,0.85,1.018,0.32,0.09,0,0.7,...,5,0.88,1.0003,0.45,0.34,0,4.7,8.5,6.0,10.9
1,19600102,1,6,2.1,0.84,1.018,0.36,1.05,0,1.1,...,7,0.91,1.0007,0.25,0.84,0,0.7,8.9,5.6,12.1
2,19600103,1,8,2.1,0.90,1.018,0.18,0.30,0,0.0,...,7,0.91,1.0096,0.17,0.08,0,0.1,10.5,8.1,12.9
3,19600104,1,3,2.1,0.92,1.018,0.58,0.00,0,4.1,...,7,0.86,1.0184,0.13,0.98,0,0.0,7.4,7.3,10.6
4,19600105,1,6,2.1,0.95,1.018,0.65,0.14,0,5.4,...,3,0.80,1.0328,0.46,0.00,0,5.7,5.7,3.0,8.4

In [5]:
#Reduce to just the mean temperatures
df_temp = df[['DATE', 'MONTH','BASEL_temp_mean',
 'BELGRADE_temp_mean',
 'BUDAPEST_temp_mean',
 'DEBILT_temp_mean',
 'DUSSELDORF_temp_mean',
 'GDANSK_temp_mean',
 'HEATHROW_temp_mean',
 'KASSEL_temp_mean',
 'LJUBLJANA_temp_mean',
 'MAASTRICHT_temp_mean',
 'MADRID_temp_mean',
 'MUNCHENB_temp_mean',
 'OSLO_temp_mean',
 'ROMA_temp_mean',
 'SONNBLICK_temp_mean',
 'STOCKHOLM_temp_mean',
 'TOURS_temp_mean',
 'VALENTIA_temp_mean']].copy()

In [6]:
df_temp

,DATE,MONTH,BASEL_temp_mean,BELGRADE_temp_mean,BUDAPEST_temp_mean,DEBILT_temp_mean,DUSSELDORF_temp_mean,GDANSK_temp_mean,HEATHROW_temp_mean,KASSEL_temp_mean,LJUBLJANA_temp_mean,MAASTRICHT_temp_mean,MADRID_temp_mean,MUNCHENB_temp_mean,OSLO_temp_mean,ROMA_temp_mean,SONNBLICK_temp_mean,STOCKHOLM_temp_mean,TOURS_temp_mean,VALENTIA_temp_mean
0,19600101,1,6.5,3.7,2.4,9.3,10.0,0.8,10.6,7.9,-0.6,9.5,7.6,6.9,4.9,7.8,-5.9,4.2,10.0,8.5
1,19600102,1,6.1,2.9,2.3,7.7,8.2,1.6,6.1,7.7,2.1,8.6,9.8,6.2,3.4,12.2,-9.5,4.0,9.5,8.9
2,19600103,1,8.5,3.1,2.7,6.8,7.1,0.7,8.4,6.5,4.6,6.9,8.6,5.8,1.9,10.2,-9.5,2.4,10.3,10.5
3,19600104,1,6.3,2.0,2.0,6.7,6.8,-0.1,9.4,5.8,3.2,7.0,10.3,3.9,3.0,10.8,-11.5,1.2,11.2,7.4
4,19600105,1,3.0,2.0,2.5,8.0,7.7,0.4,8.9,5.4,3.6,8.1,12.1,1.8,3.7,9.9,-9.3,3.3,11.4,5.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22945,20221027,10,15.9,18.2,11.7,15.7,17.8,11.5,16.4,9.1,14.7,18.6,20.0,14.3,9.7,15.4,0.6,11.5,19.9,10.7
22946,20221028,10,16.7,15.9,11.7,16.0,19.4,11.7,15.8,9.1,12.9,18.9,19.1,16.1,10.9,15.4,2.3,12.5,20.3,10.7
22947,20221029,10,16.7,13.4,11.7,15.8,18.2,14.2,16.5,9.1,13.2,18.2,19.0,17.4,9.7,15.4,3.3,13.1,20.6,10.7
22948,20221030,10,15.4,15.0,11.7,14.4,16.7,11.0,15.2,9.1,14.0,16.3,15.7,14.5,5.9,15.4,3.4,7.5,15.9,10.7
22949,20221031,10,13.5,14.4,11.7,12.8,15.2,9.3,13.7,9.1,13.6,15.3,14.1,12.9,9.2,15.4,1.7,9.7,16.8,10.7

In [7]:
#Reduce your dataset to the 80's year
dfyear = df_temp[df_temp['DATE'].astype(str).str.contains('198')] 
dfyear

,DATE,MONTH,BASEL_temp_mean,BELGRADE_temp_mean,BUDAPEST_temp_mean,DEBILT_temp_mean,DUSSELDORF_temp_mean,GDANSK_temp_mean,HEATHROW_temp_mean,KASSEL_temp_mean,LJUBLJANA_temp_mean,MAASTRICHT_temp_mean,MADRID_temp_mean,MUNCHENB_temp_mean,OSLO_temp_mean,ROMA_temp_mean,SONNBLICK_temp_mean,STOCKHOLM_temp_mean,TOURS_temp_mean,VALENTIA_temp_mean
7305,19800101,1,-0.8,-0.6,0.3,0.9,0.5,-1.2,-1.8,-1.6,-1.7,-0.1,12.5,-2.6,-3.7,4.5,-19.7,-0.9,3.2,4.4
7306,19800102,1,-1.7,-1.7,0.2,-0.4,0.4,-1.0,-1.8,-1.1,-2.5,-0.2,8.4,-3.6,-6.2,3.7,-22.2,-4.1,1.4,6.4
7307,19800103,1,-0.6,-2.5,-2.3,-2.3,-0.2,-1.6,2.6,-4.8,-3.1,-0.3,5.5,-4.5,-11.5,1.8,-23.6,-5.8,0.6,9.2
7308,19800104,1,-0.9,-5.9,-4.9,1.6,1.8,-3.2,5.2,-1.5,-6.2,2.1,5.5,-5.1,-15.2,-0.7,-18.8,-6.3,5.2,7.7
7309,19800105,1,3.0,-4.1,-7.1,3.9,4.8,-5.1,4.8,1.3,0.1,4.0,5.6,2.4,-7.2,3.1,-10.5,-1.3,6.6,7.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10953,19891227,12,-0.9,1.3,-2.5,0.4,1.9,-1.0,6.4,-0.6,-0.2,1.6,8.4,-2.9,0.5,4.3,-7.9,3.0,8.5,6.0
10954,19891228,12,-1.1,1.1,-2.5,1.2,1.6,-2.8,6.5,-0.9,-0.8,0.6,8.7,-3.4,-4.9,4.4,-8.7,1.1,1.0,9.3
10955,19891229,12,-1.7,-0.1,-1.0,0.3,1.3,-2.2,5.0,-2.8,-2.0,0.9,9.5,-4.2,-6.2,4.1,-10.5,-2.1,-0.3,10.1
10956,19891230,12,-2.1,0.2,-0.4,-0.3,1.2,-0.9,4.4,-2.5,-3.2,0.5,9.7,-5.0,-3.2,4.9,-8.4,-1.5,-0.6,9.9
10957,19891231,12,-2.2,-0.7,-0.2,0.5,-0.1,-2.3,3.8,-1.8,-1.1,0.2,8.6,-6.0,-7.2,4.4,-8.4,0.0,-0.4,9.9

# 2 Scaling

In [8]:
# Select only the numerical columns
numerical_columns = dfyear.select_dtypes(include=['float64']).columns

# Adding the 'DATE' and 'MONTH' columns (ensure these columns exist in the DataFrame)
columns_to_include = ['DATE', 'MONTH'] + list(numerical_columns)

# Subset the dataframe to include numerical data and the 'DATE' and 'MONTH' columns
df_subset = dfyear[columns_to_include]

In [9]:
df_subset

,DATE,MONTH,BASEL_temp_mean,BELGRADE_temp_mean,BUDAPEST_temp_mean,DEBILT_temp_mean,DUSSELDORF_temp_mean,GDANSK_temp_mean,HEATHROW_temp_mean,KASSEL_temp_mean,LJUBLJANA_temp_mean,MAASTRICHT_temp_mean,MADRID_temp_mean,MUNCHENB_temp_mean,OSLO_temp_mean,ROMA_temp_mean,SONNBLICK_temp_mean,STOCKHOLM_temp_mean,TOURS_temp_mean,VALENTIA_temp_mean
7305,19800101,1,-0.8,-0.6,0.3,0.9,0.5,-1.2,-1.8,-1.6,-1.7,-0.1,12.5,-2.6,-3.7,4.5,-19.7,-0.9,3.2,4.4
7306,19800102,1,-1.7,-1.7,0.2,-0.4,0.4,-1.0,-1.8,-1.1,-2.5,-0.2,8.4,-3.6,-6.2,3.7,-22.2,-4.1,1.4,6.4
7307,19800103,1,-0.6,-2.5,-2.3,-2.3,-0.2,-1.6,2.6,-4.8,-3.1,-0.3,5.5,-4.5,-11.5,1.8,-23.6,-5.8,0.6,9.2
7308,19800104,1,-0.9,-5.9,-4.9,1.6,1.8,-3.2,5.2,-1.5,-6.2,2.1,5.5,-5.1,-15.2,-0.7,-18.8,-6.3,5.2,7.7
7309,19800105,1,3.0,-4.1,-7.1,3.9,4.8,-5.1,4.8,1.3,0.1,4.0,5.6,2.4,-7.2,3.1,-10.5,-1.3,6.6,7.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10953,19891227,12,-0.9,1.3,-2.5,0.4,1.9,-1.0,6.4,-0.6,-0.2,1.6,8.4,-2.9,0.5,4.3,-7.9,3.0,8.5,6.0
10954,19891228,12,-1.1,1.1,-2.5,1.2,1.6,-2.8,6.5,-0.9,-0.8,0.6,8.7,-3.4,-4.9,4.4,-8.7,1.1,1.0,9.3
10955,19891229,12,-1.7,-0.1,-1.0,0.3,1.3,-2.2,5.0,-2.8,-2.0,0.9,9.5,-4.2,-6.2,4.1,-10.5,-2.1,-0.3,10.1
10956,19891230,12,-2.1,0.2,-0.4,-0.3,1.2,-0.9,4.4,-2.5,-3.2,0.5,9.7,-5.0,-3.2,4.9,-8.4,-1.5,-0.6,9.9
10957,19891231,12,-2.2,-0.7,-0.2,0.5,-0.1,-2.3,3.8,-1.8,-1.1,0.2,8.6,-6.0,-7.2,4.4,-8.4,0.0,-0.4,9.9

In [10]:
#create scaler object using StandardScaler from sklearn.preprocessing
#StandardScaler assumes data is normally distributed and scales with a distribution
#around 0 and standard deviation of 1. Scaling happens independently with each variable.

scaler = StandardScaler()

In [11]:
# Fit and transform only the numerical columns (excluding 'DATE' and 'MONTH')
df_scaled_values = pd.DataFrame(scaler.fit_transform(df_subset[numerical_columns]), columns=numerical_columns)

In [12]:
# Add the 'DATE' and 'MONTH' columns back to the scaled dataframe
df_scaled = pd.concat([df_subset[['DATE', 'MONTH']].reset_index(drop=True), df_scaled_values.reset_index(drop=True)], axis=1)

In [13]:
# Display the first few rows of the scaled dataframe
df_scaled.head()

,DATE,MONTH,BASEL_temp_mean,BELGRADE_temp_mean,BUDAPEST_temp_mean,DEBILT_temp_mean,DUSSELDORF_temp_mean,GDANSK_temp_mean,HEATHROW_temp_mean,KASSEL_temp_mean,LJUBLJANA_temp_mean,MAASTRICHT_temp_mean,MADRID_temp_mean,MUNCHENB_temp_mean,OSLO_temp_mean,ROMA_temp_mean,SONNBLICK_temp_mean,STOCKHOLM_temp_mean,TOURS_temp_mean,VALENTIA_temp_mean
0,19800101,1,-1.444209,-1.428479,-1.269419,-1.356022,-1.432024,-1.108021,-2.171863,-1.373112,-1.390799,-1.450023,-0.311157,-1.319862,-1.116626,-1.552995,-2.070328,-0.898228,-1.249587,-1.641922
1,19800102,1,-1.566772,-1.554529,-1.281054,-1.558895,-1.446441,-1.082513,-2.171863,-1.306064,-1.486870,-1.464922,-0.872664,-1.444156,-1.411235,-1.671414,-2.432437,-1.282795,-1.527087,-1.110077
2,19800103,1,-1.416973,-1.646201,-1.571908,-1.855402,-1.532946,-1.159035,-1.408716,-1.802219,-1.558924,-1.479821,-1.269828,-1.556020,-2.035805,-1.952658,-2.635218,-1.487096,-1.650420,-0.365493
3,19800104,1,-1.457827,-2.035811,-1.874396,-1.246783,-1.244597,-1.363093,-0.957766,-1.359702,-1.931200,-1.122243,-1.269828,-1.630596,-2.471826,-2.322715,-1.939969,-1.547184,-0.941254,-0.764377
4,19800105,1,-0.926723,-1.829547,-2.130347,-0.887854,-0.812074,-1.605411,-1.027143,-0.984234,-1.174638,-0.839161,-1.256133,-0.698395,-1.529078,-1.760227,-0.737767,-0.946299,-0.725422,-0.790969